/*body {*/
/*    box-sizing: border-box;*/
/*}*/


.header {
    height: 900px;
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 149px 216px;

    color: white;

    margin-bottom: 90px;


}

.header-subtitle {
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    width: 205px;
    height: 54px;


    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 16px;
}

.header-span-1 {
    width: 317px;
    height: 16px;
    flex-direction: column;
    flex-shrink: 0;


    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;

}
.header-title {

    text-transform: uppercase;
    font-size: 54px;
    border: 1px solid white;
    background-color: #00000070;


}
.header-title-we {
    display: inline-block;
    padding: 38px 23px 38px 31px;
    color: #F48E0B;
    border-right: 1px solid #F48E0B;
}

.header-title-main {
    padding: 38px 31px 38px 23px;
}

.about-us-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}


.about-us-info {
    color: #4D4943;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
}


.business-consulting-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 148px 148px;
    gap: 22px 30px;
}

.about-us-main-info {
    grid-column: 3/4;
    grid-row: 1/3;

}


.business-consulting-title {
    color: #F1AD1D;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

}

.business-title {
    color: #333333;
}

.consulting-title {
    color: #F1AD1D;
}

.business-consulting-info {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 22px;
}


.business-consulting-button {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    padding: 19px 27px;
    background-color: #F1AD1D;
    border: none;
    margin-top: 36px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-secret-title {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
}



.our-secret-info {
    color: #4D4943;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
}

.our-secret-wrapper {
    display: grid;
    width: 100%;
    grid-template-rows: 426px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 38px;

}

.our-secret-card {
    width: 100%;
    height: 100%;
    background-color: pink;
}

.secret-card-header {
    padding: 22px 0 16px 0;
    background-color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: white;
    text-align: center;

}
.secret-card-first {
    color: white;
}

.secret-card-second {
    color: #F1AD1D;
}

.contact-section {
    margin-bottom: 140px;
}

.contact-title {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
}

.contact-subtitle {
    color: #4d4943;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.contact-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F1AD1D;
    margin: 47.5px auto 0 auto;
}

.contact-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 45px;
}


.contact-form-wrapper, .get-in-touch-wrapper {
    flex-basis: 50%;

}

.form-title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    max-width: 383px;

    background-color: #333;
    padding: 24px 0 17px 17px;
    margin-bottom: 12px;
}

.form-subtitle {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 100%;
    padding: 21px 0 13px 14px;
    margin-bottom: 19px;
    border: 1px solid #929292;
    outline: none;
}

input[type="text"],
input[type="email"] {
    width: 47%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 2px solid #F1AD1D;
}

input:first-child {
    margin-right: 30px;
}

textarea {
    width: 100%;
}

.form-btn {
    padding: 16px 40px;
    border: none;
    background-color: #F1AD1D;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 20px;
}

.form-btn:hover {
    background-color: #F48E0B;
}

.get-in-touch-title {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    max-width: 383px;

    background-color: #333;
    padding: 24px 0 17px 17px;
    margin-bottom: 12px;
}

.get-in-touch-subtitle {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 25px;
}



.get-in-touch-wrapper ul {
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.get-in-touch-wrapper ul li {
    margin-top: 19px;
}

.address-item:before {
    content: url("icons/location-icon.svg");
}

.tel-item:before {
    content: url("icons/tel-icon.svg");
}

.email-item:before {
    content: url("icons/letter-icon.svg");
}

.site-item:before {
    content: url("icons/site-icon.svg");
}

.address-item:before, .tel-item:before, .email-item:before, .site-item:before {
    display: inline-block;
    margin-right: 14px;
    background-color: #333333;
    padding: 12px 15px;
}

.social-link {
    display: inline-block;
    background-color: #F1AD1D;
    padding: 19px;
    margin: 20px 10px 0 0;
}

.social-link:last-child {
    margin: 0;
}
